.header-container {
  background-color: #ffffff;
  padding: 20px 30px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 20px auto;
  border-radius: 20px;
  transition: background-color 0.3s ease, padding 0.3s ease;
  position: relative;
}

.imageLogo {
  transition: opacity 0.3s ease;
  height: auto;
  width: 130px;
}

/* Navigation Styles */
.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-right: 120px;
}

.nav-list {
  display: flex;
  gap: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  font-size: 1.2rem;
}

.nav-link {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #77a1aa;
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: #77a1aa;
}

.nav-link:hover::after {
  width: 100%;
}

.numPhone {
  display: none;
}

.imageLogoMobill {
  display: none;
}

.header-links {
  display: none;
}